.card-detail-container {
    background-color: #D463F0;
    height: 100vh;
}

.cardicon-container {
    padding: 20px;
}

.card-detail-text h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: white;
}

.card-detail-text ul {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
    padding: 20px;
}
ul li {
    padding: 5px;
}
.card-detail-text div {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: white;
}